"Desafios de Projeto/Sistema Para Validacao de Processo Seletivo/validacao-processo-seletivo/.vscode/"
"Desafios de Projeto/Sistema Para Validacao de Processo Seletivo/DesafioControleFluxo/.vscode/"
"Desafios de Projeto/Simulando Uma Conta Bancária/conta-banco/.vscode/"
